<div class="container">
  <h1>Trustpair Challenge</h1>

  <h2>Importer la donnée</h2>

  <%= form_tag import_jobs_path, multipart: true do %>
    <div class="form-column">
      <%= file_field_tag :file %>
      <%= submit_tag 'Importer', class: 'btn-submit' %>
    </div>
  <% end %>

  <hr>

  <h2>Liste des emplois (<%= @job_count %>)</h2>

  <table class="table background-white">
    <thead>
      <tr>
        <th scope="col">Emploi</th>
        <th scope="col">Année</th>
        <th scope="col">Collectivité</th>
        <th scope="col">Type de contrat</th>
        <th scope="col">Niveau</th>
        <th scope="col">Spécialité</th>
        <th scope="col"># Femmes</th>
        <th scope="col"># Hommes</th>
        <th scope="col">Ecart %</th>
      </tr>
    </thead>
    <% @jobs.each do |job| %>
      <tr>
        <th scope="row"><%= job.name&.capitalize %></td>
        <td><%= job.year %></td>
        <td><%= job.collectivity&.capitalize %></td>
        <td><%= job.contract_type&.capitalize %></td>
        <td><%= job.level&.capitalize %></td>
        <td><%= job.specialty&.capitalize %></td>
        <td><%= job.women_count %></td>
        <td><%= job.men_count %></td>
        <td>TBD</td>
      </tr>
    <% end %>
  </table>
</div>
